<div class="weather_container">
    <div class="weather_image">
        <img src='{{ imageUrl }}{{weather.abbreviationCondition}}.png' />
    </div>
    <div class="weather_info">
        <p>도시이름: {{ weather.location }}</p>
        <p>날씨상태: {{ weather.formattedCondition }}</p>
        <p>평균온도: {{ weather.temp }}</p>
        <p>최저온도: {{ weather.minTemp }}</p>
        <p>최고온도: {{ weather.maxTemp }}</p>
        <p>검색시간: {{ weather.lastUpdated | date: 'yyyy년 MM월 dd일 HH시 mm분 ss초'}}</p>
    </div>
</div>