<div class="weather_container">
    <div class="weather_image">
        <img src='{{ imageUrl }}{{weather.abbreviationCondition}}.png' />
        <img [src]="mapConditionToImage(weather.condition)" />
    </div>
    <div class="weather_info">
        <ul>
            <li>검색시간: {{ weather.lastUpdated | date: 'yyyy년 MM월 dd일 HH시 mm분 ss초'}}</li>
            <li>상태: {{ weather.formattedCondition }}</li>
            <li>평균온도: {{ weather.temp }}</li>
            <li>최저온도: {{ weather.minTemp }}</li>
            <li>최고온도: {{ weather.maxTemp }}</li>
        </ul>
    </div>
</div>